.rvmrc
.bundle
/tmp

## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## RUBYMINE
.idea

## NODE
node_modules

## PROJECT::GENERAL
coverage
rdoc
pkg
.sass-cache
/index.html
/assets/[0-9]*
