<div class="report_container" id="<%= title_id %>">
  <h2>
    <span class="group_name" style="color:#9a3221"><%= report[:title] %></span>
  </h2>
  <% report[:items].each do |source_file, lines| %>
    <table class="report_content">
      <thead>
        <tr>
          <th><%= link_to_source_file(source_file) %></th>
        </tr>
      </thead>
      <tbody>
      <% lines.each do |line| %>
        <tr>
          <td><%= line.source %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
